nav {
    padding: 2rem;
    position:fixed;
}

.first-img {
    width: 100vw;
}

.navbar-toggler {
    color: #BBC3A4;
}

.btn-outline-success {
    background-color: #BBC3A4;
    color: #FBF3D5;
    border-color: #BBC3A4;
}

.btn-outline-success:hover {
    background-color: #B3A398;
    color: white;
    border-color: #B3A398;
}

.card:hover {
    transform: scale(1.02);
    transition: 0.5s ease-in-out;
}

footer {
    background-color: #BBC3A4;
    font-size: 13px;
}

.first-line {
    color: white;
    border-bottom: 1px solid white;
}

.second-line a {
    color: white;
    text-decoration: none;
}

.second-line a:hover {
    color: #FBF3D5;
}

.white-text {
    color: white;
}

.col {
    padding-bottom: 1rem;
}

.flag-img {
    margin: 0 0.5rem;
}

/* 미디어 쿼리 */
@media screen and (max-width: 768px) {
    .col-md-3 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 48rem) {
    .first-line {
        text-align: center;
    }
    .second-line {
        padding: 0 2rem;
    }   
    .flag {
        display: none;
    }    
}
