body {
    color: #333;
    font-size: 15px;
    font-weight: 450;
    line-height: 1.4;
    font-family: "Gowun Dodum", sans-serif;
}

section {
    margin-top: 65px;
}

header {
    width: 100%;
    position: fixed;
    top:0;
    z-index: 8;
    background-color: white !important;
}

nav.navbar {
    background-color: white !important;
}

.navbar-toggler {
    color: #BBC3A4;
}

.dropdown-item:hover {
    color: #B3A398;
}

.btn-outline-success {
    background-color: #BBC3A4;
    color: #FBF3D5;
    border-color: #BBC3A4;
}

.btn-outline-success:hover {
    background-color: #B3A398;
    color: white;
    border-color: #B3A398;
}

.item-title {
    font-weight: 600;
    font-family: "IBM Plex Sans KR", sans-serif;
}

.item-description {
    color: gray;
    font-family: "IBM Plex Sans KR", sans-serif;
}

/* 신상 아이템 */
.card-text {
    color: black;
}

.new-items .card:hover {
    transform: scale(1.02);
    transition: 0.5s ease-in-out;
}

.price-box {
    margin-top: 10px;
    align-items: baseline; 
    margin-top: 10px;
}

.original-price {
    text-decoration: line-through;
    color: gray; 
    margin-right: 7px; 
}

.discount {
    display: flex; 
    align-items: baseline; 
}

.discount-rate {
    color: red; 
    font-weight: bold; 
}

.discount-price {
    color: black; 
    font-weight: bold; 
    margin-left: 5px; 
}

/* made상품 */
/* 배경 구분 
.made-section {
    background-color: peru; 
    margin: 0;
    padding: 20px 0; 
}
*/

/*
.made-card {
    width: 100%; 
    max-width: 230px; 
    height: 270px;
    margin: 0 auto; 
}
*/ 

.made-price {
    color: black; 
    font-weight: bold; 
}

.made-gif {
    text-align: left;
}

.made-gif img {
    max-width: 25%; 
    height: auto;
    display: inline-block;
}

/* footer */
footer {
    background-color: #BBC3A4;
    font-size: 16px;
    margin-top: 80px; 
}

.first-line {
    color: white;
    border-bottom: 1px solid white;
}

.second-line a {
    color: white;
    text-decoration: none;
}

.second-line a:hover {
    color: #FBF3D5;
}

.white-text {
    color: white;
}

.col {
    padding-bottom: 1rem;
}

.flag-img {
    margin: 0 0.5rem;
}

/* 카드 두 개씩 보이게 */
@media screen and (max-width: 780px) {
    .col-md-3 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

/* 카드 한 개씩 보이게 */
@media screen and (max-width: 550px) {
    .col-md-3 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 48rem) {
    .first-line {
        text-align: center;
    }
    .second-line {
        padding: 0 2rem;
    }   
    .flag {
        display: none;
    }    
}
