.navbar-toggler {
    color: #BBC3A4;
}

.btn-outline-success {
    background-color: #BBC3A4;
    color: #FBF3D5;
    border-color: #BBC3A4;
}

.btn-outline-success:hover {
    background-color: #B3A398;
    color: white;
    border-color: #B3A398;
}
